{% extends 'layout.html' %}

{% block title %}
    Pharmacy - Issue Medicine
{% endblock %}

{% block content%}
{% include "pharmacy/includes/pharmacy_navbar.html" %}

<style>
    table {
      width:100%;
    }
    table, th, td {
      border: 1px solid rgb(92, 90, 90);
      border-collapse: collapse;
    }
    th, td {
      padding: 10px;
      text-align: left;
    }
    #t01 tr:nth-child(even) {
      background-color: #eee;
    }
    #t01 tr:nth-child(odd) {
     background-color: #fff;
    }
    #t01 th {
      background-color: grey;
      color: black;
    }
</style>

<main class="my-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <br>
                    <div class="card">
                        <div class="card-header text-center"><strong>Issue Medicines</strong></div>
                        
                        <div class="card-body ">
                            <form name="patient display" action="{{url_for('pharmacy_issue_medicines_s2')}}" method="POST">
                                <div class="text-center">
                                    <label for="Medicine name">Medicine name: </label>
                                    <div class="text-center">
                                        {{form.mname}}
                                    </div>
                                    <br>
                                    <label for="Medicine quantity">Medicine quantity: </label>
                                    <div class="text-center">
                                        {{form.quantity}}
                                    </div>

                                </div class="text-center" >
                                <div class="text-center">
                                    <button type="submit" name="action" value="check" class="btn btn-primary btn-lg" formmethod="POST" >
                                    Check Medicine Availability
                                    </button>
                            </div>

                            <br>
                            
                                
                                    {% with messages = get_flashed_messages() %}
                                      {% if messages %}
                                      <div class="alert alert-info text-center">
                                          <ul class=flashes>
                                          {% for message in messages %}
                                          <li>{{ message }}</li>
                                          {% endfor %}
                                          </ul>
                                        </div>
                                      {% endif %}
                                      {% endwith %}
                            {% if mdata %}
                            <table id="t01">
                              <tr>
                                <td>Name :</td>
                                <td>{{mdata[0][1]}}</td>
                              </tr>
                              <tr>
                                <td>Rate(single) :</td>
                                <td>{{mdata[0][3]}}</td>
                              </tr>
                              <tr>
                                <td>quantity :</td>
                                <td>{{form.quantity.data}}</td>
                              </tr>
                              <tr>
                                <td>Cost :</td>
                                <td>{{mdata[0][3] * form.quantity.data}}</td>
                              </tr>

                            </table>
                            <br>
                            <div class="col-md-6 offset-md-4">
                              <button type="submit" name="action" value="Confirm issue" class="btn btn-primary btn-lg" formmethod="POST" >
                              Confirm Issue Medicine 
                              </button>
                            </div>
                            {% endif %}



                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</main>


{% endblock%}


