{% extends 'layout.html' %}

{% block title %}
    Active Patients
{% endblock %}

{% block content%}
  {% include "desk/includes/navbar.html" %}
{% if data %}
<div class="container">
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Patient ID</th>
            <th scope="col">Name</th> 
            <th scope="col">Age</th>
            <th scope="col">Address</th> 
            <th scope="col">DOJ</th>
            <th scope="col">Type of room</th> 
        </tr>
    </thead>
    <tbody>
        {% for row in data %} 
            <tr>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[6]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
            </tr>
        {% endfor %}        
    </tbody>
</table>

</div>
<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css')}}"/>
<script src="{{ url_for('static',filename='tables/js/jquery.js')}}"></script>
<script src="{{ url_for('static',filename='tables/js/jquery.dataTables.js')}}"></script>
<script src="{{ url_for('static',filename='tables/js/dataTables.bootstrap.js')}}"></script>


<script>
    $(".table").DataTable();
</script>


{% else %}

<div class="container-fluid">

  <h2> Patient Table is empty... </h2>

</div>



{% endif %}



{% endblock %}