{% extends 'layout.html' %}

{% block title %}
    Active Patients
{% endblock %}

{% block content%}
{% include "desk/includes/navbar.html" %}
{% if data %}

<center><h2><u>Active patients</u></h2></center>
<style>
table {
  width:100%;
}
table, th, td {
  border: 1px solid rgb(92, 90, 90);
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
#t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
 background-color: #fff;
}
#t01 th {
  background-color: grey;
  color: black;
}
</style>
<table id="t01">
    <thead>
        <tr>
            <th>Patient ID</th>
            <th>Name</th> 
            <th>Age</th>
            <th>Address</th> 
            <th>DOJ</th>
            <th>Type of room</th> 
        </tr>
    </thead>
    <tbody>
        {% for row in data %} 
            <tr>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[6]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
            </tr>
        {% endfor %}        
    </tbody>
</table>

{% else %}

<p> Patient Table is empty... </p>

{% endif %}



{% endblock %}