{% extends 'layout.html' %}

{% block title %}
    Desk - Billing
{% endblock %}

{% block content%}
{% include "desk/includes/navbar.html" %}
<main class="my-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <br>
                    <div class="card">
                        <div class="card-header text-center"><strong>Billing</strong></div>
                        <div class="card-body ">
                            <form name="patient bill" action="{{url_for('billpatient')}}" method="POST">
                                <div class="text-center">
                                    <label for="patid">Patient ID: </label>
                                    <div class="text-center">
                                        {{form.pid}}
                                    </div>
                                </div class="text-center" >
                                <div class="text-center">
                                    <button type="submit" name="action" value="show" class="btn btn-primary btn-lg" formmethod="POST" >
                                    Show
                                    </button>
                            </div>

                            <br>
                            
                                
                                    {% with messages = get_flashed_messages() %}
                                      {% if messages %}
                                      <div class="alert alert-info text-center">
                                          <ul class=flashes>
                                          {% for message in messages %}
                                          <li>{{ message }}</li>
                                          {% endfor %}
                                          </ul>
                                        </div>
                                      {% endif %}
                                      {% endwith %}
                                
                                  
                            </form>
                        </div>
                        
                    </div>
                    {% for row in rudtest %}
                        <div class="container-fluid text-center">
                            <h2>Patient Details</h2>
                        </div>
                       
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Patient ID</th>
                                    <th scope="col">Name</th> 
                                    <th scope="col">Age</th>
                                    <th scope="col">Address</th> 
                                    <th scope="col">DOJ</th>
                                    <th scope="col">DOD</th>
                                    <th scope="col">Type of room</th> 
                                </tr>
                            </thead>
                            <tbody>
                                 
                                    <tr>
                                        <td>{{row[1]}}</td>
                                        <td>{{row[2]}}</td>
                                        <td>{{row[3]}}</td>
                                        <td>{{row[6]}}</td>
                                        <td>{{row[4]}}</td>
                                        <td>{{session['dod']}}</td>
                                        <td>{{row[5]}}</td>
                                    </tr>
                                       
                            </tbody>
                        </table>
                        <div style="display:flex; flex-direction: row; justify-content: center; align-items: center border">
                            <label><b>No. of days:</b></label>&nbsp;
                            <label>{{session['doa']}}</label>&nbsp;&nbsp;&nbsp;
                            <label>Room Bill:</label>&nbsp;
                            <label>{{session['roomcharge']}}</label>
                        </div>
                        {% endfor %}
                        {% if rdata %}
                        <br><br>
                        <div class="container-fluid text-center">
                            <h2>Pharmacy Charges</h2>
                        </div>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Medicine</th>
                                    <th scope="col">Quantity</th> 
                                    <th scope="col">Rate</th>
                                    <th scope="col">Amount</th>  
                                </tr>
                            </thead>
                            <tbody>
                                {% for r in rdata %}
                                 
                                    <tr>
                                        <td>{{r[0]}}</td>
                                        <td>{{r[1]}}</td>
                                        <td>{{r[2]}}</td>
                                        <td>{{ r[1] | int() * r[2] | int()}}</td>
                                    </tr>
                                    {% endfor %}    
                            </tbody>
                        </table>
                        <div style="display:flex; flex-direction: row; justify-content: center; align-items: center border">
                            <label><b>Pharmacy Bill:</b></label>&nbsp;
                            <label>{{session['pharmtotal']}}</label>
                        </div>
                        
                        
                        
                        
                        {% endif %}
                        {% if ddata %}
                        <br><br>
                        <div class="container-fluid text-center">
                            <h2>Diagnostic Charges</h2>
                        </div>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Test</th>
                                    <th scope="col">Amount</th>  
                                </tr>
                            </thead>
                            <tbody>
                                {% for r in ddata %}
                                    <tr>
                                        <td>{{r[0]}}</td>
                                        <td>{{r[1]}}</td>
                                    </tr>
                                    {% endfor %}  
                            </tbody>
                        </table>
                        <div style="display:flex; flex-direction: row; justify-content: center; align-items: center border">
                            <label><b>Diagnostic Bill:</b></label>&nbsp;
                            <label>{{session['diagnostictotal']}}</label>
                        </div>
                        
                        {% endif %}
                        
                        
                        {% for row in rudtest %}
                        <div style="display:flex; flex-direction: row; justify-content: center; align-items: center border">
                            <label><b>Total Bill:</b></label>&nbsp;&nbsp;
                            <label>{{session['roomcharge']+session['pharmtotal']+session['diagnostictotal']}}</label>
                        </div>

                        {% endfor %}
                        
                    <br>

            </div>
        </div>
    </div>

</main>

{% endblock%}
